# Dependencies
node_modules/
venv/
env/
.env
.env.example
.env.uat.example
# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Django
*.sqlite3
media/

# Vite build
frontend/dist/

# OS
.DS_Store
Thumbs.db